.results-page {
    margin: 0;
    padding: 0;
}

.ResultTable {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 768px) {
    .results-page {
        width: 100%;
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
}
